body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
	margin:0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
.fl{
	float: left;
}
.fr{
	float:right;
}
.clearflt::after{
	content: "";
	display: block;
	width:0;
	height:0;
	clear: both;
}

